@import "src/utils/colors";

input{
  border: none;
  border-bottom:$font-color solid 3px;
  background-color: transparent;
  width: 100%;
  color: $font-color;
  &:focus{
    outline: none;
    transform: scale(1.02);
  }
}

::-webkit-input-placeholder { /* Chrome */
  color: $font-color;
  font-weight: 700;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $font-color;
  font-weight: 700;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $font-color;
  font-weight: 700;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $font-color;
  font-weight: 700;
}