@import "./utils/colors";

body{

  background-color: $background-color;
  color: $font-color;
}

#root{
  width: 100%
}

.reg-wrap{

  display: flex;
  justify-content: center;
  align-items: center;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;

}