@import "src/utils/colors";

.authorization{
  display: flex;
  flex-direction: column;
  width:  400px;
  align-items: center;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 30px;
  //align-self: center;
  margin-top: 40%;

  &__header{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__btn{
    margin-top: 10px;
    padding: 4px;
    border: none;
    background-color: $font-color;
    border-radius: 8px;
    color: aliceblue;
    font-weight: bold;
    align-self: flex-end;
  }

  input{
    margin:  5px 20px;
  }

}