@import "../../utils/colors";

.navbar{
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  background-color: white;
  width: 100%;

  &__header{
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;

  }
  &__login{
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
  }
}

.container{
  width: 1140px;
  display: flex;
  align-items: center;
}